.imran_pic{
    width: 50%;
    height: 80vh;
}



.imran_pic img{
    width: 100%;
    height: 80vh;
    
}

.quote{
    background-color: antiquewhite;
    margin-top: -577px;
    margin-left: 800px;
}